* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #215a59;
  font-size: 38px;
}

p {
  font-size: 14px;
  color: #163c3b;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.webgl {
  height: 100vh;
  width: 100vw;
}

.about-shader {
  height: 60vh !important;
  width: 100vw;
}

#about-me {
  /* min-height: 500px;
  height: 60vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr; */
  position: absolute;
  margin: 30px;
  left: 15%;
  /* padding: 30px 0px; */
  display: flex;
  justify-content: space-around;
}

.avatar-box {
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 2px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-description {
  background-color: #fff;
  position: absolute;
  padding: 40px;
  border-radius: 2px;
  left: 73%;
  bottom: 0px;
  width: 550px;
}

img {
  height: fit-content;
}

.creative-coder {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#work {
  height: 40vh;
  background-color: #558786;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 100;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  margin-right: 20px;
  align-items: center;
}

li {
  padding: 0px 10px;
}

button {
  background: transparent;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.btn-toggle {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.left-border {
  border-left: 1px solid lightgray;
}

.trail-type {
  width: 20px;
  display: flex;
  justify-content: center;
}

#mask {
  width: 40px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

@keyframes revealLeft {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media only screen and (max-width: 1200px) {
  img {
    display: none;
  }

  .avatar-box {
    display: none;
  }

  #about-me {
    left: auto;
  }

  .about-me-description {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: auto;
  }
}
